auto_gptq~=0.7.1
colorama~=0.4.6
matplotlib~=3.10.7
numpy~=2.3.4
onnx~=1.19.1
onnx2pytorch~=0.5.1
onnx_simplifier~=0.4.36
onnxruntime~=1.23.1
onnxruntime_gpu~=1.23.0
pandas~=2.3.3
pytest~=8.4.2
seaborn~=0.13.2
tensorflow~=2.19.0
tf2onnx~=1.16.1
tflite2onnx~=0.4.1
torch~=2.9.0
ultralytics~=8.3.217
